body
{
    font-family: Verdana;
    display: block;
}

table
{
    display: flex;
    flex-wrap: wrap;
}

td, th
{
    border : 1px solid black;
}

th 
{ 
    text-align:left; height:2em; 
    background-color: #990000;
}

tr 
{ 
    text-align:center; 
    background-color: #ffe0e0;}